{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^vue$",
    "^react$",
    "^pinia$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "@/(.*)",
    "",
    "^[./]"
  ]
}
